# Code for reading in weekly M4 data

***

In [2]:
# import modules
import pandas as pd

In [5]:
# import training data for weekly time series
weekly_train = pd.read_csv("../Data/Weekly-train.csv")

In [6]:
# import identifying file for time series
m4_info = pd.read_csv("../Data/M4-info.csv")

Using information from the M4 paper, we know there are 112 weekly level time series from the Micro domain. This seems like a decent number for initially implementing our models and methods.

In [28]:
# store ids for Weekly time series in Micro category
ts_ids = m4_info.loc[(m4_info.SP == "Weekly") & (m4_info.category == "Micro")]["M4id"]

In [30]:
# subset weekly time series data for Micro time series
micro_ts = weekly_train.loc[weekly_train.V1.isin(ts_ids)]

In [31]:
# check how many NA values we have
micro_ts.isna().sum().unique()

array([  0,  65,  68,  76,  84,  87,  92,  94,  96,  98, 102, 103, 104,
       106, 107, 108, 110, 112], dtype=int64)

Any column with `NA` is missing for over half of the time series.

In [33]:
micro_ts.loc[:,micro_ts.isna().sum() > 0]

,V82,V83,V84,V85,V86,V87,V88,V89,V90,V91,...,V2589,V2590,V2591,V2592,V2593,V2594,V2595,V2596,V2597,V2598
247,3419.2,3418.70,3425.50,3359.80,3407.10,3370.00,3376.20,3329.10,3357.60,3345.40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,344.2,342.19,346.91,335.62,344.08,338.18,340.52,335.64,338.35,334.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,300.2,294.80,297.10,298.30,299.60,295.10,294.80,297.20,303.40,299.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,1184.0,1205.00,1225.00,1244.00,1261.00,1281.00,1303.00,1314.00,1323.00,1340.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,184.6,184.90,185.10,185.80,186.00,186.20,186.60,187.30,187.90,188.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN